<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqust.blog.dao.mappers.ArticleCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.cqust.blog.common.entity.ArticleCategory" >
  <constructor >
    <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
    <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <arg column="ord" jdbcType="INTEGER" javaType="java.lang.Integer" />
  </constructor>
</resultMap>

  <resultMap id="categoryMap" type="com.cqust.blog.common.dto.ArticleCategoryDTO" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ord" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="articleNum" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, user_id, ord
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_article_category
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="checkIsExists" resultType="com.cqust.blog.common.entity.ArticleCategory">
      SELECT
      <include refid="Base_Column_List"/>
      FROM  tbl_article_category
      WHERE name = #{name, jdbcType=VARCHAR} and user_id = #{uid}
    </select>
  <select id="editCheckIsExists" resultType="com.cqust.blog.common.entity.ArticleCategory">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tbl_article_category
    WHERE id=#{cid} and user_id=#{uid}
  </select>
    <select id="queryCateByUserId" resultType="com.cqust.blog.common.entity.ArticleCategory">
      SELECT <include refid="Base_Column_List"/>
      FROM tbl_article_category
      WHERE user_id = #{uid}
    </select>
  <select id="queryCateByUserIdFroDTO" resultType="com.cqust.blog.common.dto.ArticleCategoryDTO">
    SELECT a.id,a.name,a.user_id userId,a.ord,if(b.title is not NULL, count(a.name), 0) articleNum from tbl_article_category a
    LEFT JOIN tbl_article b ON b.cate_id = a.id
    where a.user_id = #{uid}
    GROUP BY a.name
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_article_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqust.blog.common.entity.ArticleCategory" >
    insert into tbl_article_category (id, name, user_id, 
      ord)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{ord,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cqust.blog.common.entity.ArticleCategory" >
    insert into tbl_article_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="ord != null" >
        ord,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="ord != null" >
        #{ord,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqust.blog.common.entity.ArticleCategory" >
    update tbl_article_category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="ord != null" >
        ord = #{ord,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqust.blog.common.entity.ArticleCategory" >
    update tbl_article_category
    set name = #{name,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      ord = #{ord,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>